@{
    ViewBag.Title = "Фартуки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Navigation -->
<div id="navigation-row">
    <div class="samples">
        <div class="left-column-samples">
            <div class="sample-item item-1"></div>
            <div class="sample-item item-2"></div>
            <div class="sample-item item-5"></div>
            <div class="sample-item item-3"></div>
            <div class="sample-item item-4"></div>
            <div class="sample-item item-6"></div>
        </div>
        <div class="right-column-samples">
            <div class="sample-item-view item-view-1"></div>
            <div class="sample-item-view item-view-2"></div>
            <div class="sample-item-view item-view-3"></div>
        </div>
    </div>
</div>
<!-- Showcase -->
<!-- Feature -->
<div id="feature-row">
    <div class="row-container">
        <div class="row">
            <div class="moduletable team  span4">
                <h3 class="moduleTitle ">Our team</h3>
                <div class="mod-newsflash-adv mod-newsflash-adv__team">
                    <div class=" item item_num0 item__module  ">
                        <!-- Intro Image -->
                        <div class="item_img img-intro img-intro__left">
                            <a href="/joomla_47347/index.php/44-our-team/90-alan-poison">
                                <img src="@Url.Content("~/Content/img/team-img1.jpg")" alt="" />
                            </a>
                        </div>
                        <div class="item_content">
                            <!-- Item title -->
                            <h4 class="item_title item_title__team">
                                <span class="item_title_part0">Alan</span> 
                                <span class="item_title_part1">Poison</span> 				
                            </h4>
                            <!-- Introtext -->
                            <div class="item_introtext">
                                <p class="text">Lorem ipsum dolor </p>
                                Lorem ipsum dolor sit amet, consec tetuer adipiscng. Prent vestibulum molestie laiihs. 
                            </div>
                            <!-- Read More link -->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class=" item item_num1 item__module  lastItem">
                        <!-- Intro Image -->
                        <div class="item_img img-intro img-intro__left">
                            <a href="/joomla_47347/index.php/44-our-team/91-alan-poison-2">
                                <img src="@Url.Content("~/Content/img/team-img2.jpg")" alt="" />
                            </a>
                        </div>
                        <div class="item_content">
                            <!-- Item title -->
                            <h4 class="item_title item_title__team">
                                <span class="item_title_part0">Kelly</span> 
                                <span class="item_title_part1">Tomson</span> 				
                            </h4>
                            <!-- Introtext -->
                            <div class="item_introtext">
                                <p class="text">Lorem ipsum dolor </p>
                                Lorem ipsum dolor sit amet, consec tetuer adipiscng. Prent vestibulum molestie laiihs. 
                            </div>
                            <!-- Read More link -->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="moduletable about  span5">
                <h3 class="moduleTitle ">About our studio</h3>
                <div class="mod-article-single mod-article-single__about">
                    <div class="item__module">
                        <!-- Item Title -->
                        <h4 class="item-title">Onsuntur magni dolores eo quatione uptate msequi nesciunt, neque porro sisquam estqui dolorem ipsumia dolor. Daitamet, consectetur, adipisci velite sed.							</h4>
                        <!-- Publish Date -->
                        <!-- Intro Image -->
                        <!-- Intro Text -->
                        <div class="item_introtext">
                            <p>Lorem ipsum dolor sit amet, consec tetuer adipiscng. Prent vestibulum molestie lacuiirhs. Aenean non ummy hendrerit mauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdjque penatibus et magnis dis parturi ent montes, nascetur ridiculus mus. Nulla dui. Fusce feugiatle suada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem.</p>
                            <a class="btn btn-info readmore" href="/joomla_47347/index.php/37-about-our-hotel/2-onsuntur-magni-dolores-eo-quatione-uptate-msequi-nesciunt-neque-porro-sisquam-estqui-dolorem-ipsumia-dolor-daitamet-consectetur-adipisci-velite-sed"><span>More</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Maintop -->
<div class="row">
    <div id="component" class="span5">
        <!-- Breadcrumbs -->
        <!-- Content-top -->
        <div id="content-top-row" class="row">
            <div id="content-top">
                <div class="moduletable  news  span5">
                    <h3 class="moduleTitle ">Why choose us?</h3>
                    <div class="mod-newsflash-adv mod-newsflash-adv__ news">
                        <div class=" item item_num0 item__module  lastItem">
                            <!-- Intro Image -->
                            <div class="item_img img-intro img-intro__left">
                                <a href="/joomla_47347/index.php/1-lorem-ipsum-dolor-consec-tetuer-adipis-cng-prent-vestibulum-molestie-laiirhs">
                                    <img src="@Url.Content("~/Content/img/home-thumb1.jpg")" alt="" />
                                </a>
                            </div>
                            <div class="item_content">
                                <!-- Item title -->
                                <h6 class="item_title item_title__ news"><span class="item_title_part0">Lorem</span> <span class="item_title_part1">ipsum</span> <span class="item_title_part2">dolor</span> <span class="item_title_part3"></span><span class="item_title_part4">,</span> <span class="item_title_part5">consec</span> <span class="item_title_part6">tetuer</span> <span class="item_title_part7">adipis</span> <span class="item_title_part8">cng.</span> <span class="item_title_part9">Prent</span> <span class="item_title_part10">vestibulum</span> <span class="item_title_part11">molestie</span> <span class="item_title_part12">laiirhs.</span> 				</h6>
                                <!-- Introtext -->
                                <div class="item_introtext">
                                    <p>Lorem ipsum dolor sit amet, consec tetuer adipis cng. Prent vestibulum molestie lacuiirhs. Aenean non ummy hendrerit mauris. Phasellllus porta. Fusce suscipit varius mium sociis totdjque penati. bus et magnis dis parturi ent montes, nascetur</p>
                                </div>
                                <!-- Read More link -->
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="mod-newsflash-adv_custom-link">
                            <a class="btn btn-info" href="/joomla_47347/index.php/events">More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="system-message-container">
            <div id="system-message">
            </div>
        </div>
        <div class="page-category page-category__">
        </div>
        <!-- Content-bottom -->
    </div>
    <!-- Right sidebar -->
    <div id="aside-right" class="span4">
        <aside>
            <div class="moduletable services">
                <h3 class="moduleTitle ">Services</h3>
                <div class="mod-newsflash-adv mod-newsflash-adv__services">
                    <div class=" item item_num0 item__module  ">
                        <i class="caption">a.</i>
                        <div class="item_content">
                            <!-- Intro Image -->
                            <!-- Item title -->
                            <h6 class="item_title item_title__services">
                                <a href="/joomla_47347/index.php/38-services/3-lorem-ipsum-dolor">Lorem ipsum dolor</a>                            </h6>
                            <!-- Introtext -->
                            <div class="item_introtext">
                                Lorem ipsum dolor sit amet, consec tetuer adipiscng. Prent vestibulum molestie laiihs. Aenean non ummy hendrerit
                            </div>
                            <!-- Read More link -->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class=" item item_num1 item__module  ">
                        <i class="caption">b.</i>
                        <div class="item_content">
                            <!-- Intro Image -->
                            <!-- Item title -->
                            <h6 class="item_title item_title__services">
                                <a href="/joomla_47347/index.php/38-services/4-lorem-ipsum-dolor-2">Lorem ipsum dolor</a>                            </h6>
                            <!-- Introtext -->
                            <div class="item_introtext">
                                Lorem ipsum dolor sit amet, consec tetuer adipiscng. Prent vestibulum molestie laiihs. Aenean non ummy hendrerit
                            </div>
                            <!-- Read More link -->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class=" item item_num2 item__module  lastItem">
                        <i class="caption">c.</i>
                        <div class="item_content">
                            <!-- Intro Image -->
                            <!-- Item title -->
                            <h6 class="item_title item_title__services">
                                <a href="/joomla_47347/index.php/38-services/14-lorem-ipsum-dolor-3">Lorem ipsum dolor</a>                            </h6>
                            <!-- Introtext -->
                            <div class="item_introtext">
                                Lorem ipsum dolor sit amet, consec tetuer adipiscng. Prent vestibulum molestie laiihs. Aenean non ummy hendrerit
                            </div>
                            <!-- Read More link -->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </aside>
    </div>
</div>
<!-- Mainbottom -->
<!-- Bottom -->
<div id="bottom-row">
    <div class="row-container">
        <div id="bottom" class="row">
            <div class="moduletable news  span9">
                <h3 class="moduleTitle ">Latest news & events</h3>
                <div class="mod-newsflash-adv mod-newsflash-adv__news">
                    <div class="row">
                        <div class="span3 item item_num0 item__module  ">
                            <!-- Intro Image -->
                            <div class="item_content">
                                <div class="item_published">
                                    25.09.2012	
                                </div>
                                <!-- Item title -->
                                <h6 class="item_title item_title__news">
                                    <a href="/joomla_47347/index.php/27-latest-news-events/20-lorem-ipsum-dolor-sit-amet">Lorem ipsum dolor sit amet, consec teer.</a>                                </h6>
                                <!-- Introtext -->
                                <div class="item_introtext">
                                    <p>Lorem ipsum dolor sit amet, consec tetuer adipisc ing. Praesent vestibulum molestie lacuiirhs. Aenean non ummy hendrerit mauris. Phasellllus. porta.</p>
                                </div>
                                <!-- Read More link -->
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="span3 item item_num1 item__module  ">
                            <!-- Intro Image -->
                            <div class="item_content">
                                <div class="item_published">
                                    25.09.2012	
                                </div>
                                <!-- Item title -->
                                <h6 class="item_title item_title__news">
                                    <a href="/joomla_47347/index.php/27-latest-news-events/21-lorem-ipsum-dolor-sit-amet-2">Lorem ipsum dolor sit amet, consec teer.</a>                                </h6>
                                <!-- Introtext -->
                                <div class="item_introtext">
                                    <p>Lorem ipsum dolor sit amet, consec tetuer adipisc ing. Praesent vestibulum molestie lacuiirhs. Aenean non ummy hendrerit mauris. Phasellllus. porta.</p>
                                </div>
                                <!-- Read More link -->
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="span3 item item_num2 item__module  lastItem">
                            <!-- Intro Image -->
                            <div class="item_content">
                                <div class="item_published">
                                    25.09.2012	
                                </div>
                                <!-- Item title -->
                                <h6 class="item_title item_title__news">
                                    <a href="/joomla_47347/index.php/27-latest-news-events/22-lorem-ipsum-dolor-sit-amet-3">Lorem ipsum dolor sit amet, consec teer.</a>                                </h6>
                                <!-- Introtext -->
                                <div class="item_introtext">
                                    <p>Lorem ipsum dolor sit amet, consec tetuer adipisc ing. Praesent vestibulum molestie lacuiirhs. Aenean non ummy hendrerit mauris. Phasellllus. porta.</p>
                                </div>
                                <!-- Read More link -->
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
