.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mod_caroufredsel {
  position: relative;
  overflow: hidden;
}
.list_carousel {
  padding: 0;
  width: auto;
  position: relative;
  margin: 0 0 0 -20px;
}
.list_carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
.list_carousel ul li {
  padding: 0 0 0 20px;
  display: block;
  float: left;
  font-size: 13px;
  line-height: 17px;
}
.list_carousel ul li .item_title {
  text-transform: uppercase;
  margin: 0 0 8px;
}
.list_carousel ul li .readmore {
  background: #b41c35;
  color: white;
  line-height: 25px;
  height: 25px;
}
.list_carousel ul li .readmore:hover {
  background: #d8d8d8;
  color: black;
}
.clearfix {
  float: none;
  clear: both;
}
/*Navigation*/
.caroufredsel_prev,
.caroufredsel_next {
  background: url(../img/pagination.png) 0 0 no-repeat;
  cursor: pointer;
  position: absolute;
  top: 38%;
  display: block;
  height: 26px;
  width: 27px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.caroufredsel_prev:hover,
.caroufredsel_next:hover {
  opacity: 0.7;
}
.caroufredsel_prev {
  left: -47px;
}
.caroufredsel_next {
  background-position: 0 bottom;
  right: -47px;
}
/*Pagination*/
.caroufredsel_pagination {
  text-align: center;
}
.caroufredsel_pagination a {
  display: inline-block;
  padding: 0 0.5em;
}
