.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*======================= TYPOGRAPHY =======================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #b41c35;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: inherit;
}
h1,
h2,
h3 {
  font-size: 20px;
  color: #000;
  font-weight: normal;
  font-family: 'Asap', sans-serif;
  line-height: 24px;
  margin-bottom: 22px;
}
h4 {
  /*font-size: 15px;
  font-weight: normal;
  color: #000;
  font-family: @asapFontFamily;
  line-height: 18px;
  margin-bottom: 23px;*/

  font-size: 15px;
  color: #000;
  font-weight: normal;
  font-family: 'Asap', sans-serif;
  line-height: 18px;
  margin-bottom: 18px;
}
h5 {
  color: #010101;
  font-size: 13px;
  font-family: 'Droid Sans', sans-serif;
  line-height: 15px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
h6 {
  color: #394d5c;
  font-size: 11px;
  font-family: 'Droid Sans', sans-serif;
  line-height: 14px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.alert-heading {
  color: inherit;
}
p {
  margin: 0;
  padding-bottom: 20px;
}
p.text {
  text-transform: uppercase;
  padding-bottom: 7px;
}
.icons-marker {
  font-size: 13.2px;
  line-height: 14px;
}
/*Buttons*/
.btn {
  padding: 4px 14px;
  font-size: 11px;
  line-height: 14px;
  background: #ffffff;
  color: #606060;
  text-shadow: none;
  border: 1px solid #e6e6e6;
  border-bottom-color: #e6e6e6;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn:hover {
  text-decoration: none;
  background: #e6e6e6;
  color: #000000;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn-primary {
  background: #d8d8d8;
  color: #131313;
  text-shadow: none;
  border: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 24px;
  height: 24px;
  padding: 0 13px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.btn-primary:hover {
  background: #000000;
  color: #ffffff;
}
.btn-primary.submitButton {
  float: right;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active {
  outline: none;
}
.btn-primary.disabled {
  opacity: 1;
  filter: alpha(opacity=100);
  background: #000000 !important;
  color: #ffffff !important;
}
.btn-info {
  background: #d8d8d8;
  color: #131313;
  text-shadow: none;
  border: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 24px;
  height: 24px;
  padding: 0 13px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.btn-info:hover {
  background: #000000;
  color: #ffffff;
}
.btn-info:active,
.btn-info:focus,
.btn-info:active {
  outline: none;
}
/*Lists*/
.mod-menu {
  margin-bottom: 20px;
}
ul.categories-module h5 {
  font-size: 1em;
  line-height: inherit;
  font-weight: normal;
  margin: 0;
}
/*Pagination*/
.pagination {
  height: auto;
  margin: 0;
  padding: 0 0 50px;
}
.pagination ul {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0 auto;
  width: 100%;
}
.pagination ul li {
  display: inline-block;
  margin-right: 10px;
}
.pagination ul li .pagenav,
.pagination ul li .hasTooltip {
  font-size: 13px;
  line-height: 24px;
  text-transform: none;
  color: #606060;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  border: 1px solid #c3c3c3;
  box-shadow: none;
  padding: 0 9px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.pagination ul li span.pagenav,
.pagination ul li .span.hasTooltip {
  color: white;
  background: #b41c35;
  border-color: #b41c35;
}
.pagination ul li a.pagenav:hover,
.pagination ul li a.hasTooltip:hover {
  color: white;
  background: #b41c35;
  border-color: #b41c35;
}
.pagination ul li.num span.pagenav,
.pagination ul li.num span.hasTooltip {
  color: white;
  background: #b41c35;
  border-color: #b41c35;
}
/*Forms*/
input[type='radio'],
input[type='checkbox'] {
  margin: 3px 0 0;
}
/* img */
.item_img,
.category_img {
  margin-bottom: 17px;
}
.img-intro__left,
.img-full__left {
  float: left;
  margin: 0 20px 10px 0;
}
.img-intro__right,
.img-full__right {
  float: right;
  margin: 0 0px 10px 20px;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
#aside-left > div {
  margin-right: 96px;
  background: url(../img/aside_bg.jpg) repeat-y;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.26);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.26);
  background-size: 164%;
}
#main_container {
  padding-top: 42px;
}
/*======================= TOP =======================*/
/*======================= HEADER =======================*/
#header-row {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 16px;
}
/*======================= NAVIGATION =======================*/
#navigation-row .row-container {
  border-bottom: 1px solid #d6d6d6;
  padding: 29px 0 17px;
}
.select-menu {
  display: none;
}
.navigation {
  padding: 79px 0 0;
  min-height: 434px;
}
.navigation ul.sf-menu {
  position: relative;
  /*SubMenu Styles*/

  /*Define 1st SubMenu position*/

  /*Define menu width*/

  /*Define SubMenu position*/

  /*Define 2nd+ SubMenu position*/

}
.navigation ul.sf-menu > li {
  padding: 0;
  height: 24px;
}
.navigation ul.sf-menu > li.active > a,
.navigation ul.sf-menu > li.sfHover > a,
.navigation ul.sf-menu > li.current > a,
.navigation ul.sf-menu > li.active > span,
.navigation ul.sf-menu > li.sfHover > span,
.navigation ul.sf-menu > li.current > span {
  color: #999999;
}
.navigation ul.sf-menu > li > a,
.navigation ul.sf-menu > li > span {
  font-size: 13px;
  line-height: 24px;
  font-family: 'Asap', sans-serif;
  color: #ffffff;
  height: 24px;
  text-align: center;
  letter-spacing: 3px;
  display: block;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navigation ul.sf-menu > li > a:hover,
.navigation ul.sf-menu > li > span:hover {
  color: #999999;
}
.navigation ul.sf-menu li:hover > ul,
.navigation ul.sf-menu li.sfHover > ul {
  top: 26px;
}
.navigation ul.sf-menu ul {
  width: 125px;
}
.navigation ul.sf-menu li li:hover ul,
.navigation ul.sf-menu li li.sfHover ul {
  top: -12px;
  left: 127px;
}
.navigation ul.sf-menu li li li:hover ul,
.navigation ul.sf-menu li li li.sfHover ul {
  top: -12px;
  left: 127px;
}
.navigation ul.sf-menu ul {
  background: #d8d8d8;
  padding: 12px 0;
}
.navigation ul.sf-menu ul li a,
.navigation ul.sf-menu ul li span {
  font-size: 13px;
  line-height: 24px;
  font-family: 'Asap', sans-serif;
  color: #131313;
  display: block;
  padding: 0 20px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-transform: uppercase;
}
.navigation ul.sf-menu ul li a:hover,
.navigation ul.sf-menu ul li span:hover {
  color: #606060;
}
.navigation ul.sf-menu ul li.active > a,
.navigation ul.sf-menu ul li.sfHover > a,
.navigation ul.sf-menu ul li.active > span,
.navigation ul.sf-menu ul li.sfHover > span {
  color: #606060;
}
.navigation ul.sf-menu ul li.firstItem {
  border: none;
}
.navigation ul.sf-menu.sf-vertical {
  width: 100%;
  /*Define 1st SubMenu position*/

}
.navigation ul.sf-menu.sf-vertical li {
  float: none;
  width: 100%;
}
.navigation ul.sf-menu.sf-vertical li:hover > ul,
.navigation ul.sf-menu.sf-vertical li.sfHover > ul {
  top: -12px;
}
.navigation ul.sf-menu.sf-vertical ul {
  left: 145px;
}
.navigation ul.sf-menu.sf-vertical ul li a,
.navigation ul.sf-menu.sf-vertical ul li span {
  padding: 0 20px;
}
.navigation ul.sf-menu.sf-navbar {
  height: 24px;
  padding-bottom: 24px;
  margin-bottom: 2px;
  /*Define 1st SubMenu position*/

}
.navigation ul.sf-menu.sf-navbar li:hover > ul,
.navigation ul.sf-menu.sf-navbar li.sfHover > ul {
  top: 26px;
  left: 0;
}
.navigation ul.sf-menu.sf-navbar li ul {
  width: auto;
  padding: 2px 0;
}
.navigation ul.sf-menu.sf-navbar li ul ul.sub-menu {
  width: 125px;
  top: 24px;
}
.search-block {
  text-align: right;
}
.search-block input {
  max-width: 100%;
}
/*======================= SHOWCASE =======================*/
.mod-newsflash-adv .isotope {
  margin: 0 -1.5%;
}
.mod-newsflash-adv .isotope-item {
  padding: 0 1.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  float: left;
}
.mod-newsflash-adv .isotope-item.straightDown {
  text-align: center;
}
/*======================= FEATURE =======================*/
#feature-row {
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 35px;
  padding: 36px 0 15px;
}
.mod-newsflash-adv__monials .item blockquote {
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 18px 15px;
  position: relative;
  margin-bottom: 17px;
}
.mod-newsflash-adv__monials .item blockquote p {
  background: url(../img/template/blockquote.png) 0 0 no-repeat;
  padding: 8px 0 0 15px;
}
.mod-newsflash-adv__monials .item blockquote p:before {
  display: none;
}
.mod-newsflash-adv__monials .item blockquote p:after {
  display: none;
}
.mod-newsflash-adv__monials .item blockquote:after {
  content: url(../img/template/blockquote_after.png);
  display: block;
  width: 33px;
  height: 19px;
  position: absolute;
  left: 64px;
  bottom: -19px;
}
.about p {
  padding-bottom: 29px;
}
/*======================= MAINTOP =======================*/
#maintop-row {
  margin: 0 0 18px;
}
.about_img_1,
.about_img_2 {
  margin-bottom: 20px;
}
/*======================= CONTENT TOP =======================*/
/*======================= CONTENT =======================*/
#component {
  min-height: 0;
  padding-bottom: 15px;
}
.camera_thumbs {
  position: absolute;
  top: -62px;
  right: 0;
  width: 100%;
}
.container-fluid {
  padding: 0 !important;
}
.item {
  margin-bottom: 20px;
}
.item:after {
  content: '';
  display: block;
  clear: both;
}
.page-header {
  border: none;
  padding: 0;
  margin: 0;
}
.item_info_dl {
  margin: 0 0 33px;
}
.item_info_dl dd {
  margin: 0;
  display: inline;
  font-size: 11px;
  color: #b41c35;
  font-family: 'Asap', sans-serif;
  text-transform: uppercase;
}
.item_info_dl dd > * {
  display: inline;
}
.item_info_dl dd a {
  color: inherit;
}
.item_info_dl dd a:hover {
  color: #000;
}
.item_info_dl dd.komento {
  float: right;
}
.item_icons.btn-group.pull-right {
  margin: 0 0 10px 10px;
}
/*===== Home Page ======*/
.mod-article-single .item__module {
  margin-bottom: 30px;
  overflow: hidden;
}
.moduletable.projects {
  position: relative;
}
.moduletable.border_right .moduleTitle,
.moduletable.border_right .mod-menu {
  border-right: 1px solid #d6d6d6;
  line-height: 34px;
  margin: 0 20px 0 0;
}
.moduletable.border_right .moduleTitle {
  font-size: 31px;
  color: #b41c35;
  padding: 0 20px 0px 0;
  text-transform: uppercase;
}
.moduletable.border_right .mod-menu {
  padding: 0 20px 0px 0;
}
.moduletable.border_right .mod-menu ul.title {
  margin: 0;
  padding: 0 0 16px;
}
.moduletable.border_right .mod-menu ul.title li {
  color: #303030;
  font-size: 25px;
  line-height: 30px;
  background: none;
  padding: 0;
}
.mod-menu ul.text {
  padding: 7px 0 20px;
}
.mod-menu ul.text li {
  line-height: 16px !important;
  font-size: 14px !important;
  background: none !important;
  padding: 0 !important;
  text-transform: none !important;
}
.mod-newsflash-adv__team .item_title {
  margin: 0 0 5px;
}
.mod-newsflash-adv__partners {
  background: white;
  padding: 16px 16px 18px;
}
.mod-newsflash-adv__partners .item {
  margin: 0;
}
.mod-newsflash-adv__partners .item .img-intro__left {
  margin: 0 5px 0 0;
}
.mod-newsflash-adv__partners .item .item_content {
  padding: 12px 0 0;
  overflow: hidden;
}
.mod-newsflash-adv__partners .item .item_content .item_title {
  font-size: 13px;
  margin: 0 0 2px;
}
.mod-newsflash-adv__partners .item .item_content .item_title a {
  color: black;
}
.mod-newsflash-adv__partners .item .item_content .item_title a:hover {
  color: #b41c35;
}
/*===== About Page ======*/
.page-item__about .img-full__left {
  max-width: 50%;
}
/*===== Portfolio Page ======*/
.mod-newsflash-adv__portfolio .item {
  margin-bottom: 20px;
}
.mod-newsflash-adv__portfolio .item_content {
  background: white;
  padding: 15px 15px 18px;
}
.mod-newsflash-adv__portfolio .item_title {
  font-size: 11px;
  line-height: 14px;
  margin: 0 0 7px;
  text-transform: uppercase;
}
/*===== Blog Page ======*/
.page-archive .item,
.page-item__blog .item,
.page-blog .item {
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 28px;
  padding-bottom: 14px;
}
.page-archive .item_published,
.page-item__blog .item_published,
.page-blog .item_published {
  background: #b41c35;
  color: white;
  float: left;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  margin: 1px 20px 20px 0;
  padding: 0px 0 11px;
  text-align: center;
  text-transform: lowercase;
  width: 48px;
}
.page-archive .item_published span,
.page-item__blog .item_published span,
.page-blog .item_published span {
  display: block;
  padding-top: 10px;
}
/*===== Gallery Page ======*/
ul.gallery {
  margin: 0 0 0 -20px;
}
ul.gallery .gallery-item {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 20px 20px;
  float: left;
  list-style: none;
}
ul.gallery .gallery-item .gallery_inner {
  background: white;
  padding: 15px 15px 18px;
  overflow: hidden;
}
ul.gallery .gallery-item .item_img {
  margin-right: 0;
  float: none;
}
ul.gallery .gallery-item .item_title {
  font-size: 11px;
  margin-bottom: 6px;
  text-transform: uppercase;
}
ul.gallery .gallery-item.straightDown {
  float: none;
}
ul.gallery .gallery-item.straightDown .item_img {
  float: left;
  margin: 0 14px 14px 0 !important;
}
/*===== Testimonials Page ======*/
.page-category__testimonials .item {
  margin-bottom: 30px;
}
blockquote {
  padding: 0;
  margin: 0;
  border-left: none;
}
blockquote p {
  margin-bottom: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
}
blockquote p:before {
  content: '"';
}
blockquote p:after {
  content: '"';
}
small {
  color: #b41c35;
  display: block;
  font-size: 11px;
  text-align: right;
  text-transform: uppercase;
}
/*===== Team Page ======*/
.page-category__team .item_introtext {
  overflow: hidden;
}
.addthis_toolbox {
  padding-top: 11px;
}
/*======================= CONTENT BOTTOM =======================*/
/*======================= ASIDE RIGHT =======================*/
.archive-module,
.categories-module,
.mod-menu .nav.menu,
.list1 ul {
  margin: 0;
}
.archive-module li,
.categories-module li,
.mod-menu .nav.menu li,
.list1 ul li {
  list-style: none;
  font-size: 11px;
  line-height: 18px;
  padding: 0 0 4px 16px;
  background: url(../img/footer_menu_marker.png) 0 6px no-repeat;
  font-family: 'Asap', sans-serif;
  text-transform: uppercase;
}
.archive-module li a,
.categories-module li a,
.mod-menu .nav.menu li a,
.list1 ul li a {
  color: #b41c35;
  display: inline;
}
.archive-module li a:hover,
.categories-module li a:hover,
.mod-menu .nav.menu li a:hover,
.list1 ul li a:hover {
  color: black;
  background: none;
}
.dropcap {
  float: left;
  color: #000;
  font-family: 'Asap', sans-serif;
  font-size: 23px;
  width: 30px;
  font-weight: normal;
  line-height: 16px;
}
.services .caption {
  color: black;
  float: left;
  font-size: 23px;
  font-style: normal;
  width: 30px;
}
.services .item_content {
  overflow: hidden;
}
.services .item {
  margin-bottom: 18px;
}
#aside-right .moduletable {
  margin-bottom: 32px;
}
#aside-right .moduletable.border {
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 44px;
  padding-bottom: 41px;
}
.vouchers {
  margin-bottom: 0 !important;
}
.vouchers .item_introtext {
  clear: both;
}
.vouchers .item {
  margin-bottom: 38px;
}
/*======================= MAINBOTTOM =======================*/
#mainbottom-row {
  border-top: 1px solid #d6d6d6;
  padding: 45px 0 29px;
}
.news .item_published {
  font-family: 'Asap', sans-serif;
  font-size: 13px;
  color: #b41c35;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}
.news .item_title {
  color: #000;
  margin-bottom: 16px;
}
.news .item_title a {
  color: #000;
}
.news .item_title a:hover {
  color: #b41c35;
}
.news .item_content {
  padding-right: 8px;
}
.news .item_content p {
  padding-bottom: 0;
}
.news .item {
  margin-bottom: 16px;
}
.mod-newsflash-adv_custom-link {
  padding-bottom: 30px;
}
.team .item {
  margin-bottom: 27px;
}
.rules {
  padding-top: 5px;
  padding-bottom: 15px;
}
.rules .item_content {
  overflow: hidden;
}
/*======================= BOTTOM =======================*/
#bottom-row {
  border-top: 1px solid #d6d6d6;
  padding: 34px 0 33px;
}
.treatment .item {
  margin-bottom: 47px;
}
.treatment .item .item_introtext {
  padding-bottom: 9px;
}
/*======================= FOOTER =======================*/
#footer-wrapper {
  border-top: 1px solid #d6d6d6;
  padding: 39px 0 10px;
}
#footer-row {
  padding-bottom: 41px;
}
#copyright {
  background: url(../img/border.png) repeat-x;
  margin: 0 9px 0 12px;
  padding: 16px 0 21px;
  text-align: center;
  color: #b0988e;
  font-size: 13px;
}
#copyright a {
  color: inherit;
  display: inline-block;
}
#copyright a:hover {
  text-decoration: underline;
}
/*===== Social Media ======*/
.social {
  margin: 0 0 30px;
  text-align: left;
}
.social li {
  display: inline;
  list-style: none;
  margin: 0 7px 0 0;
}
.social li a {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  filter: alpha(opacity=100);
}
.social li a:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.footer_menu .mod-menu .nav.menu {
  text-align: right;
  margin: 0;
  padding: 0px 0px 30px 0;
}
.footer_menu .mod-menu .nav.menu li {
  font-family: 'Asap', sans-serif;
  display: inline-block;
  text-transform: none;
  padding: 0;
  text-transform: uppercase;
  background: none;
  font-size: 11px;
  line-height: 14px;
}
.footer_menu .mod-menu .nav.menu li + li {
  margin-left: 26px;
  position: relative;
}
.footer_menu .mod-menu .nav.menu li + li:before {
  content: '';
  background: url(../img/footer_menu_marker.png);
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  left: -16px;
}
.footer_menu .mod-menu .nav.menu li a {
  color: #171717;
}
.footer_menu .mod-menu .nav.menu li a:hover {
  color: #606060;
}
.footer_menu .mod-menu .nav.menu li.active a {
  color: #606060;
}
.samples {
    margin-top: 30px;
}
.samples .sample-item {
    width: 500px;
    height: 99px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    margin-bottom: 5px;
}

.samples .item-1 {
    background: url(../img/fartucs/fartuk_1.jpg);
}

.samples .item-2 {
    background: url(../img/fartucs/fartuk_12.jpg);
}

.samples .item-3 {
    background: url(../img/fartucs/fartuk_3.jpg);
}

.samples .item-4 {
    background: url(../img/fartucs/fartuk_1.jpg);
}

.samples .item-5 {
    background: url(../img/fartucs/fartuk_8.1.jpg);
}

.samples .item-6 {
    background: url(../img/fartucs/fartuk_8.jpg);
}

.samples .left-column-samples {
    display: inline-block;
    vertical-align: top;
}

.samples .right-column-samples {
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
}

.samples .sample-item-view {
    width: 320px;
    height: 203px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin-bottom: 5px;
}

.samples .item-view-1 {
    background: url(../img/fartucs/fartuk_2.jpg)
}

.samples .item-view-2 {
    background: url(../img/fartucs/fartuk_4.jpg)
}

.samples .item-view-3 {
    background: url(../img/fartucs/fartuk_2.jpg)
}